@media (max-width: 83em) {
  /* .grid {
    gap: 2rem;
  } */

  .spoon-img {
    height: 9rem;
  }

  .spoon-img-container {
    left: 2rem;
    top: 2rem;
  }
}

@media (max-width: 75em) {
  /* 9px */
  html {
    font-size: 56.25%;
  }

  .heading-description {
    font-size: 1.8rem;
  }

  .heading-primary {
    font-size: 8rem;
  }

  .header {
    padding: 0 3rem;
  }

  .text {
    font-size: 1.8rem;
  }

  .deliverd-imgs img {
    height: 3.3rem;
    width: 3.3rem;
  }

  .delivered-text {
    font-size: 1.6rem;
  }
}

@media (max-width: 58em) {
  /* 8px */
  /* html {
    font-size: 55%;
  } */


   .scroll {
    right: 4rem;
    bottom: -2rem;
  }

  .main-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: brown;
    z-index: 10;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .show-nav {
    visibility: visible;
  }

  .main-nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .nav-toggle {
    display: block;
  }


  .hero {
    grid-template-columns: 1fr;
    padding: 0 7rem;
    gap: 8rem;
  }

  .hero-img {
    width: 65%;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
    position: relative;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
  }


  
  .flex-column.center-left {
    align-items: center;
  }

  .about-section-box {
    padding: 3rem 5rem;
  }

  .award-section-box {
    grid-template-columns: 1fr;
    row-gap: 8rem;
  }

  .award-text-box {
    text-align: center;
  }

   .grid--col-3 {
    grid-template-columns: 1.5fr;
    justify-content: center;
  }
  .right-align,
  .left-align {
    text-align: center;
  }

  .flex-column.center-right {
    align-items: center;
  }
}

@media (max-width: 47em) {
  /* 8px */

  

 

 


  .galery-container {
  padding: 0rem 3rem;
  grid-template-columns: 1fr;
 row-gap: 7rem;
 text-align: center;
}

.galery-content {
padding: 0rem 8rem;
}
}
