/*

--- 01 TYPOGRAPHY

- Font sizes {px}
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-  Font weights 
Default: 400
- Bold: 700
- Semi-bold: 600
- medium: 500

-  Line heights
Default: 1

-   SPACING SYSTEM (px) 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  

--- 02 COLOURS

- dark: #0C0B08;
- Primary: 
- Tints: 
- Shades: #b0a26c
- Accents:
- Greys

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

FONT SIZE SYSTEM (px)
      */
/* 
      MAIN COLOR: #087f5b
      GREY COLOR: #343a40
*/

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.overflow {
  overflow: hidden !important;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #fff;
  font-family: "Inter", sans-serif;
  
  overflow-x: hidden !important;
}

/***********************/
/* General Reusable Components */
/***********************/

.heading-primary {
  font-weight: 700;
  font-size: 9.7rem;
  color: white;
  line-height: 1.05;
  letter-spacing: -05px;
  margin-bottom: 4rem;
  font-family: "Cormorant Upright", serif;
  color: #dcca87;
}

.heading-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
  color: #aaa;
}

.container {
  max-width: 102rem;
  margin: 0 auto;
  padding: 8rem 3rem;
}

.grid {
  display: grid;
  gap: 4rem;
  align-items: center;
}

.award-text-box-content,
.contact-section-box,
.grid--col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--col-3 {
  grid-template-columns: 1.5fr 1fr 1.5fr;
  align-items: center;
}

.btn-pad {
  padding: 1.5rem 2.5rem !important;
  font-size: 1.6rem;
}

.desc-mar-bottom {
  margin-bottom: 4rem;
}

.heading-desc {
  color: #dcca87;
  text-transform: capitalize;
  font-family: "Cormorant Upright", serif;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 0.03em;
  line-height: 130%;
  position: relative;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.absolute {
  position: absolute;
  z-index: 15;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-box,
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 140%;

  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.gap {
  gap: 10rem;
}

.medium-gap {
  gap: 6rem;
}

.small-gap {
  column-gap: 2rem;
}

.title {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: inherit;
  color: #aaa;
  line-height: 170%;
}

.color-white {
  color: #fff;
}

.margin-top {
  margin-top: 1.7rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

/* .flex-column {
  position: relative;
} */

.underline::before {
  content: "";
  position: absolute;
  background-image: url("img//Frame\ 17.png");
  height: 2rem;
  width: 100%;
  bottom: -1.2rem;
  display: block;
  right: 0%;
  background-repeat: no-repeat;
}

/***********************/
/* Header */
/***********************/

.header {
  background-color: #0c0b08;
  height: 7.5rem;
  padding: 0 6rem;
  position: relative;
}

.logo {
  height: 2.5rem;
}

.text-center {
  text-align: center;
}

/***********************/
/* Navbar */
/***********************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main-nav-link:visited,
.main-nav-link:link {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.4s;
  text-transform: capitalize;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: #dcca87;
}

.main-nav-link.nav-cta:visited,
.main-nav-link.nav-cta:link {
  text-decoration: underline;
  border-radius: 0.2rem;
  color: #fff;
}

.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
  color: #b0a26c;
  text-decoration: none;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #dcca87;
  color: #0c0b08;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  text-decoration: none;
  padding: 1.6rem 2.3rem;
  font-weight: 600;

  transition: all 0.6s;
}

.btn:hover,
.btn:active {
  background-color: #b0a26c;
}

.icon-nav,
.nav-toggle {
  font-size: 4rem;
  color: #fff;
  background: none;
  border: none;
  position: relative;
  z-index: 10;
  display: none;
  cursor: pointer;
}

*:focus {
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.icon-nav[name="close-outline"] {
  display: none;
}

/***********************/
/* Hero */
/***********************/
.hero-section {
  background-color: #0c0b08;
  padding: 4.6rem 0 7.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 110rem;
  padding: 0 3rem;
  margin: 0 auto;
  align-items: center;
  gap: 6rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  margin-top: 5rem;
  justify-content: space-between;
}

.delivered-imgs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.deliverd-imgs img {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 3px solid #f1eacf;
}

.delivered-text {
  font-size: 1.7rem;
  font-weight: 600;
}

.delivered-text span {
  color: #b0a26c;
}

.hero-img-hero {
  position: relative;
}

.scroll {
  position: absolute;
  right: 3rem;
  bottom: -2rem;
  display: flex;
  flex-direction: column;
  animation: scroll 3s infinite linear forwards;
  animation-duration: 3s;
}

@keyframes scroll {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(0.8rem);
  }
}

.scroll img {
  height: 6rem;
}

.scroll p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 175%;
  color: #dcca87;
  cursor: pointer;
  font-family: "Cormorant Upright", serif;
}

.section-how {
  background-color: red;
  padding: 4.6rem 0 7.6rem 0;
}

.section-how div div {
  height: 40rem;
  background-color: #0c0b08;
}

/***********************/
/* About */
/***********************/

.section-bg {
  background-image: url("img/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  z-index: -1;
}

.about-text-box,
.about-section-box {
  position: relative;
  z-index: 2;
}

.logo-overlay {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 33rem;
  max-height: 41rem;
}

.G-logo {
  width: 100%;
}

.absolute {
  position: absolute;
  z-index: 15;
}

.flex-column.center-right {
  align-items: end;
}

.flex-column.center-left {
  align-items: start;
}

.right-align {
  text-align: end;
}

.left-align {
  text-align: left;
}

.about-desc {
  color: #aaa;
  letter-spacing: 0.04em;
  line-height: 175%;
  font-size: 1.2rem;
}

.img-box {
  justify-self: center;
}

.img {
  max-height: 40rem;
  opacity: 0.7;
  object-fit: contain;
  width: 100%;
}

/***********************/
/* Special Foods */
/***********************/

.special-foods-section {
  background-color: #0c0b08;
  /* padding: 7rem 0; */
}

.special-foods-desc-head {
  font-weight: 600;
  font-size: 4.2rem !important;
  text-align: center;
  margin-bottom: 2rem;
}

.special-food-name {
  color: #dcca87;
}

.special-foods-desc img {
  width: 7rem;
  height: 2px;
}

.special-foods-desc {
  gap: 2rem;
}

.price {
  text-align: center;
  color: #fff;
}

.sub-heading.text {
  font-size: 1.7rem;
  color: #fff;
}

.special-foods-desc-options {
  font-style: normal;
  font-size: 1.3rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #aaa;
  text-align: left;
}

.special-foods-desc-content {
  display: grid;
  row-gap: 2rem;
}

blockquote {
  text-indent: 0.9rem;
  padding: 0 5.5rem 0 0;
}

blockquote .text-quote {
  font-style: italic;
  font-size: 1.5rem;
  color: #aaa;
  padding-left: 5px;
  line-height: 175%;
}

blockquote img {
  height: 2.5rem;
}

.chef {
  margin: 4rem 0;
}

.chef-name {
  color: #dcca87;
  font-size: 3rem;
  font-weight: 400;
}

/***********************/
/* Awards And Regulation */
/***********************/

.award-section {
  position: relative;
}

.award-section-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  align-items: center;
}

.spoon-img-container {
  position: absolute;
  left: 3rem;
  top: 5rem;
  object-fit: contain;
  animation: rotate 4s infinite linear forwards;
  animation-duration: 7s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spoon-img {
  height: 11rem;
}

.awards-heading {
  font-size: 5rem;
}

.awards-img {
  height: 7rem;
}

.body-pad {
  padding: 2rem 3rem;
}

.heading-tertiary {
  color: #dcca87;
}

/***********************/
/* Gallery */
/***********************/

.galery-section {
  background-color: #0c0b08;
  /* min-height: 40vh; */
  padding: 4rem 0rem;
}

.galery-container {
  display: grid;
  grid-template-columns: 35% 1fr;
  align-items: center;
}

.galery-content {
  padding: 3rem;
}

.galery-img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.galery-img:hover {
  transform: scale(1.1);
}

.galery-img-container {
  overflow: hidden;
  cursor: pointer;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 1rem;
}

.footer {
  background-image: url("img/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0rem 0rem 7rem 0rem;
}

.cta {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  background: #0c0c0c;
  border: 1px solid rgba(220, 202, 135, 0.2);
  text-align: center;
  box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
  padding: 4rem 0;
}

.cta-input {
  background: inherit;
  width: 50%;
  padding: 1.1rem 5rem 1.1rem 1rem;
  color: #aaa;
  margin-right: 1.2rem;
  transition: all 0.5s;
  border: 1px solid #f5efdb;
}

.cta-input:focus,
.cta-input:active {
  outline: 1px solid #f5efdb;
}

.cta-btn {
  padding: 1rem 2rem !important;
  background-color: #dcca87;
  border: none;
  cursor: pointer;
  transition: all .5s;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  text-align: center;
  padding: 9rem 3rem;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: #aaa;
  line-height: 175%;
}

.contact-box {
}

.contact:link,
.contact:visited {
  font-size: 1.3rem;
  color: #aaa !important;
}

.footer-heading {
  font-size: 2.5rem;
  font-family: "Cormorant Upright", serif;
  color: #f5efdb;
}

.logo-col {
  padding: 0rem 5rem;
}

.logo-col p {
  font-size: 1.3rem;
  line-height: 170%;
  margin-bottom: 0.7rem;
}

.GeriÃÅcht-logo {
  font-family: "Cormorant Upright";
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  line-height: 130%;
  color: #dcca87;
}

.social-box {
  color: #f5efdb;
  font-size: 2.5rem;
  transition: all 0.4s;
  cursor: pointer;
  margin: 0.7rem;
}

.social-box:hover {
  color: #dcca87;
}
